:root {
  --first-color: #a8dadc;
  --second-color: #1d3557;
  --third-color: #457b9d;
  --text-color: #f1faee;

  --danger-color: #ff2335;
  --danger-color-dark: #c81927;
  --success-color: #16db65;
  --success-color-dark: #058c42;
  --success-color-ligth: rgba(143, 255, 188, 0.568);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  background-color: var(--second-color);
  color: var(--text-color);
}

/* MODIFICADORES GERAIS */
.--hidden {
  display: none;
}

/* ESTILOS */
.c-header {
  animation-name: viewToUpDown;
  animation-duration: 500ms;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-header__title {
  font-weight: 700;
}

.c-main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 90px);
  opacity: 0;
  animation-name: viewOpacity;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

.c-main__count {
  text-align: right;
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
  font-weight: 700;
}

.c-input {
  font-size: 18px;
  height: 35px;
  padding: 5px 8px;
  border: 1px solid var(--third-color);
  border-radius: 5px 0 0 5px;
  font-family: "Nunito", sans-serif;
}

.c-main__form {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.c-button {
  height: 35px;
  min-width: 75px;
  padding: 5px 8px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--success-color-dark);
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;

  transition: background-color 200ms ease-in-out;
}

.c-button:hover {
  background-color: var(--success-color);
}

.c-button--remove {
  border-radius: 5px;
  background-color: var(--danger-color-dark);
  transition: background-color 200ms ease-in-out;
  border: none;
}

.c-button--remove:hover {
  background-color: var(--danger-color);
}

.c-table {
  text-align: center;
  max-width: 800px;
  width: 100vw;
  border-collapse: collapse;
}

.c-table__th {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 0;
  border-bottom: 0.1rem solid var(--text-color);
}

.c-table__td {
  padding: 20px 0;
}

.c-table__checkbox {
  margin-right: 10px;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.c-table__checkbox--conclued {
  text-decoration: line-through;
}

.c-tbody__tr {
  transition: background-color 500ms;
}

.c-tbody__tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-illustration {
  min-width: 300px;
  max-height: 50vh;
  margin-top: 25px;
}

.c-checkbox {
  display: none;
}

.c-checkbox__control {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid var(--text-color);
  position: relative;
  transition: background-color 200ms;
}

.c-checkbox:checked ~ .c-checkbox__control {
  background-color: var(--success-color-dark);
}

.c-checkbox__control::after {
  content: "";
  width: 5px;
  height: 15px;
  border-right: 3px solid var(--text-color);
  border-bottom: 3px solid var(--text-color);
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%) rotatez(45deg);
  opacity: 0;
  transition: all 200ms;
}

.c-checkbox:checked ~ .c-checkbox__control::after {
  opacity: 1;
}

@keyframes viewToUpDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes viewOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
